doctype html
html(lang="en")
	head
		title Random 404 Generator
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="/js/main.min.js")
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
		link(rel="icon", type="image/png", href="/favicon.png")
		link(rel="stylesheet", href="/css/style.min.css")
	body
		h1.center.title.purple Page not found!
		div.container
			p The page you tried to go to could not be found, therefore, here is a picture of a cat.
			img(src="/images/cat.jpg", alt="cat pic")