extends base
append title
	title #{hashtag} - #{title}
append meta
	meta(property="og:title", content="Random Hashtag Generator")
	meta(property="og:site_name", content="Random Hashtag Generator")
	meta(property="og:url", content="http://hashtag.tinfoilboy.com")
	meta(property="og:description", content="A random hashtag generator. Made by Tinfoilboy with &hearts;.")
	meta(property="og:image" content="http://hashtag.tinfoilboy.com/images/randomhashtaggeneratorlogo_1024.png")
	meta(property="fb:app_id", content="1421848864732426")
	meta(property="og:type", content="website")
	meta(name="description", content="A random hashtag generator. Made by Tinfoilboy with &hearts;.")
append headertitle
	h1.title Random Hashtag Generator
append headersubtitle
	h2.subtitle Generate a random hashtag, and share it to Twitter, or another social networking site.
append content
	div.vertical.center
		h1.hashtag(style="display: none;") #{hashtag}
		section.social.buttons(style="display: none;")
			div.fb-like(data-href="http://hashtag.tinfoilboy.com" data-width="133px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")
			a.twitter-share-button(href="https://twitter.com/share", data-url="http://hashtag.tinfoilboy.com" data-size="large" data-tweet="Generate some hashtags here!") Tweet this Hashtag!
			a#permalink.button.green(title="Permalink to Hashtag" data-clipboard-text="http://hashtag.tinfoilboy.com/##{permalink}") Permalink
			if isProfane
				a.button.red(title="Disable Profanity" href="/") Disable Profanity
			else
				a.button.red(title="Enable Profanity" href="/?profanity=1") Enable Profanity
			a#try-again.button.green(title="Try Again?", href="#") Try Again?