extends base
append title
	title #{title}
append meta
	meta(property="og:title", content="Random Hashtag Generator Takedown")
	meta(property="og:site_name", content="Random Hashtag Generator")
	meta(property="og:url", content="http://hashtag.tinfoilboy.com")
	meta(property="og:description", content="An API made for Random Hashtag Generator, a project by tinfoilboy.")
	meta(property="og:image" content="http://hashtag.tinfoilboy.com/images/randomhashtaggeneratorlogo_1024.png")
	meta(property="fb:app_id", content="1421848864732426")
	meta(property="og:type", content="website")
	meta(name="description", content="The API page for Random Hashtag Generator, a project by tinfoilboy.")
append headertitle
	h1.title Random Hashtag Generator Takedown
append headersubtitle
	h2.subtitle How to send a word takedown to the Random Hashtag Generator
append content
	div.container
		h1 Don't want your product or name in the hashtag?
		p If you do not want to have your name or product in the hashtag generator, send me an email at
		a(href="mailto:tinfoilboy@tinfoilboy.com", title="tinfoilboy@tinfoilboy.com") &nbsp;tinfoilboy@tinfoilboy.com
		p &nbsp;with the word or product that you want removed as well as proof that you are the person or agent of the person that wants their name removed, or the copywrite holder or representative of the copywrite holder of the product that wants their product removed, and I'll remove it as soon as possible.